@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap");

body {
  // margin: 0;
  font-family: -apple-system, "Montserrat", "Roboto", sans-serif;
  background: #e0f2e9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
